Rad/2_SlojPoslovneLogike/PoslovnaLogika/PoslovnaLogika/Web References/WSKadrovskiPodaci/OgranicenjaZaposljavanja.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DajSvaOgranicenja">
        <s:complexType />
      </s:element>
      <s:element name="DajSvaOgranicenjaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DajSvaOgranicenjaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DaLiZanimanjeOdgovaraRadnomMestu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zanimanje" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="radnoMesto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DaLiZanimanjeOdgovaraRadnomMestuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DaLiZanimanjeOdgovaraRadnomMestuResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DajSvaOgranicenjaSoapIn">
    <wsdl:part name="parameters" element="tns:DajSvaOgranicenja" />
  </wsdl:message>
  <wsdl:message name="DajSvaOgranicenjaSoapOut">
    <wsdl:part name="parameters" element="tns:DajSvaOgranicenjaResponse" />
  </wsdl:message>
  <wsdl:message name="DaLiZanimanjeOdgovaraRadnomMestuSoapIn">
    <wsdl:part name="parameters" element="tns:DaLiZanimanjeOdgovaraRadnomMestu" />
  </wsdl:message>
  <wsdl:message name="DaLiZanimanjeOdgovaraRadnomMestuSoapOut">
    <wsdl:part name="parameters" element="tns:DaLiZanimanjeOdgovaraRadnomMestuResponse" />
  </wsdl:message>
  <wsdl:portType name="OgranicenjaZaposljavanjaSoap">
    <wsdl:operation name="DajSvaOgranicenja">
      <wsdl:input message="tns:DajSvaOgranicenjaSoapIn" />
      <wsdl:output message="tns:DajSvaOgranicenjaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DaLiZanimanjeOdgovaraRadnomMestu">
      <wsdl:input message="tns:DaLiZanimanjeOdgovaraRadnomMestuSoapIn" />
      <wsdl:output message="tns:DaLiZanimanjeOdgovaraRadnomMestuSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OgranicenjaZaposljavanjaSoap" type="tns:OgranicenjaZaposljavanjaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DajSvaOgranicenja">
      <soap:operation soapAction="http://tempuri.org/DajSvaOgranicenja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DaLiZanimanjeOdgovaraRadnomMestu">
      <soap:operation soapAction="http://tempuri.org/DaLiZanimanjeOdgovaraRadnomMestu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OgranicenjaZaposljavanjaSoap12" type="tns:OgranicenjaZaposljavanjaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DajSvaOgranicenja">
      <soap12:operation soapAction="http://tempuri.org/DajSvaOgranicenja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DaLiZanimanjeOdgovaraRadnomMestu">
      <soap12:operation soapAction="http://tempuri.org/DaLiZanimanjeOdgovaraRadnomMestu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OgranicenjaZaposljavanja">
    <wsdl:port name="OgranicenjaZaposljavanjaSoap" binding="tns:OgranicenjaZaposljavanjaSoap">
      <soap:address location="http://localhost:1718/OgranicenjaZaposljavanja.asmx" />
    </wsdl:port>
    <wsdl:port name="OgranicenjaZaposljavanjaSoap12" binding="tns:OgranicenjaZaposljavanjaSoap12">
      <soap12:address location="http://localhost:1718/OgranicenjaZaposljavanja.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>